body {
    background-color: #99dbd9;
}

.taskManager {
    background-color: #f0e5c7;
    border-radius: 20px;
    box-shadow: 1px 1px 1px grey;
    flex-direction: column;
    align-self: center;  

}

.taskManager, .content, .toDoList, li{
    display: flex;
    justify-content: space-between;
}

.toDoList{
    flex-direction: column;
    height: 100vh;
}

h1, span, li, input, .button-1, .footer {
    font-family: 'Nerko One', cursive;
}

h1, .footer {
    color: #f6c0be;
    text-shadow: 2px 1px 1px #3e8baa;
    font-weight: 100;
}

input, li {
    color:#3e8baa;
    font-size: 1.5vw;
}

h1 {
    font-size: 4.4vw;
 
}

input {
    margin: 10px;
    width: 18vw;
    border: 3px solid #99dbd9;;
    border-radius: 8px;
    background-color:  #fdecec;
    outline: none; 
}

.footer{
    font-size: 1.5vw;
}

ul {
    width: 100%;
    padding: 0px;
}

li{
    margin: 10px 25px 0px 25px;
    list-style: none;
    border-bottom: 1px solid #3e8baa2a;
    justify-content: space-between;
    padding-bottom: 10px;  
}

span {
    opacity: 0.5;
    margin-bottom: 5px;
    color: #3e8baa;
    font-size: 1vw;
}

.button-1 {
    border-style: none;
    box-sizing: border-box;
    display: inline-block;
    height: 5.35vh;
    width: 3.5vw;
    margin-right: 1vw;
 
}

.button-1, .fa-solid{
    color: #FFFFFF;
    background-color: #99dbd9;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #aeb4b4;
    font-size: 1.5vw;
}

.button-1:hover,
.button-1:focus,
.fa-solid:hover,
.fa-solid:focus {
    background-color:  #67cfcc;
}

.fa-solid{
    cursor: pointer;
    padding: 5px 7px 5px 7px;
}